*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(218, 23%, 16%);
    height: 100%;
    width: 100%;
}
#main{
    position: fixed;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width:530px;
    height: 280px;
    padding: 15px;
    background-color: hsl(217, 19%, 38%);
}

#phrases{
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 220px;
    width: 500px;
    padding-bottom: 20px;
   border-bottom: 1px solid hsl(193, 38%, 86%);
}


#pattern{
    position: relative;
    background-color: hsl(217, 19%, 38%);
    bottom: 9px;
}

#btn{
    position: relative;
    top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    height: 20%;
    border-radius: 100%;
    background-color: hsl(150, 100%, 66%);
}

#btn:hover{
    box-shadow: 0 0 1em hsl(150, 100%, 66%);
};
}